
    <form name="quizForm"
            class="quizzo-angular-form"
            ng-controller="QuizFormCtrl"
           >
        <caption>Enter Quiz</caption>
        <fieldset>

        <p><span><label for="quizName">Name</label></span>
        <input id="quizName"
                     type="text" required
                     ng-model="quizName" /></p>

        <p><span><label for="shortName">Short Name</label></span>
        <input id="shortName"
               type="text" required
               ng-model="shortName" />
        </p>
        <p><span><label for="description">Description</label></span>
        <textarea id="description"
                  ng-model="description"></textarea>
        </p>

        <input type="button" ng-click="update(user)" value="SAVE"/>

        </fieldset>
    </form>
    name: {{quizName}}


